@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Base */
:root { 
    --bg-color: #0A0A0A;
    --subheader-color: #9A9A9A;
    --text-color: #FAFAFA;
    --nav-color: #0a0a0a71;
    --accent-color: #FF4D4D;
    --accent-hover: #361918;
    --font-heading: "Ubuntu", sans-serif;
    --font-body: "Quicksand", sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    color: var(--text-color);
    background: var(--bg-color);
}

/* Texts */
h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--text-color);
}

.fa-solid {
    color: var(--accent-color);
    padding-right: 0.8rem;
}

.fa-brands {
    color: var(--accent-color);
    padding-right: 2rem;
    text-decoration: none;
}

.social {
    font-size: 1.5rem;
    padding-top: 1rem;
}


h3 {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

span {
    color: var(--accent-color);
}

/* Footer Section */
footer {
    text-align: center;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #222222;
    color: var(--subheader-color);
}

/* Contact Section */
#contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 3rem;
  max-width: 69rem;
  margin: 0 auto;
  padding: 4.7rem 1.2rem;
}

#contact {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#contact-head {
    text-align: center;
    padding-top: 8rem;
}

#contact-head p {
    font-size: 1.3rem;
    padding: 1rem;
    color: var(--subheader-color);
}

/* Left Side */
#contact-info {
  flex: 1;
  /* border: 1px solid brown; */
  padding: 2rem;
}

#contact-info h3 {
  margin-bottom: 1.2rem;
}

#contact-info p {
  margin: 1.7rem 0;
  font-size: 1.3rem;
}
/* Contact Form */
.contact-form {
    min-height: 55vh;
    background-color: var(--bg-color);
}

.contact-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37.5rem;
    text-align: center;
}
.contact-form .form-details {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}

.input-box .field input {
    width: 17.5rem;
}

textarea {
    resize: none;
    font-family: 'Nunito Sans', sans-serif;
}

.field .item {
    width: 100%;
    padding: 1.1rem;
    background: transparent;
    border: solid 0.1rem var(--accent-color);
    outline: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin: 0.7rem 0;
    color: var(--subheader-color);
}

.field .item::placeholder {
    color: #9a9a9a6b;
}

.error-text {
    font-size: 0.8rem;
    color: var(--text-color);
    text-align: left;
    margin: -0.3rem 2rem 1rem;
    display: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem 2rem;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: var(--accent-color);
    box-shadow: 0 0 0.62rem var(--accent-color);
    box-shadow: none;
    transition: 0.4s;
    border: solid 0.1rem var(--accent-color);
}