* {
    cursor: none;
}

/* Custom Cursor */

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #9A9A9A;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 10;
}


.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: .7;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 10;
}

.hover {
  background-color: #361918;
  opacity: 0.9;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}