:root {
    --bg-color: #0A0A0A;
    --subheader-color: #9A9A9A;
    --text-color: #FAFAFA;
    --nav-color: #0a0a0a71;
    --accent-color: #FF4D4D;
    --accent-hover: #361918;
    --font-heading: 'Nunito Sans', sans-serif;
    --font-body: 'Nunito Sans', sans-serif;
}

/* Button Hover Light-up */
form button:hover {
    box-shadow: 0 0 0.62rem var(--accent-color);
}

.btn:hover {
    box-shadow: 0 0 0.62rem var(--accent-color);
    transition: 0.2s;
}