@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Base */
:root { 
    --bg-color: #0A0A0A;
    --subheader-color: #9A9A9A;
    --text-color: #FAFAFA;
    --nav-color: #0a0a0a71;
    --accent-color: #FF4D4D;
    --accent-hover: #361918;
    --font-heading: "Ubuntu", sans-serif;
    --font-body: "Quicksand", sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* ITEM STYLING */
/* Texts */

/* Icons */
.fa-solid {
    color: var(--accent-color);
    padding-right: 0.8rem;
}

.fa-arrow-right {
    padding-left: 0;
}

/* All heading formating */
h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--text-color);
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

h1 {
  font-size: 6rem;
  font-weight: 450;
}

h2 {
  font-size: 2rem;
}

span {
    color: var(--accent-color);
}

/* Buttons */
.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem 2rem;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: var(--accent-color);
    box-shadow: none;
    transition: 0.4s;
}


.btn-container {
    flex-direction: column;
}

/* WEBSITE SECTIONS */

/* Hero Section */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    padding-top: 8rem;
    background-position: center;
    overflow: hidden
}

/* Hero video formatting */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  background-position: center;
  z-index: -2;
  max-height: 100vh;
  object-fit: fill;
}

#video-container {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -2;
}

/* Paragraph font for hero section */
#hero p {
    font-size: 1.3rem;
    padding: 1rem;
    color: var(--subheader-color);
}

/* Scroll down icon */
.scroll-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: var(--subheader-color);
    padding-top: 7rem;
    text-decoration: none;
}

.scroll-icon span {
    color: var(--subheader-color);
    padding-bottom: 0.5rem;
}

/* Vertcal Line */
.scroll-icon .line {
    width: 0.05rem;
    height: 3rem;
    background-color: var(--subheader-color);
}

/* About Section */
#about-sec {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
}

/* Subheading styling */
.sub {
    font-size: 1.5rem;
    padding-bottom: 8rem;
    color: var(--subheader-color);
    text-align: center;
}

/* About Section */

/* Content Container */
#about-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

/* Right side base formating */
#right {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 1.5rem;
    max-width: 25rem;
    flex: 1;
    font-size: 1.3rem;
}

#right p {
    padding-bottom: 2rem;
}

/* Left List & Heading styling */
#left li {
    padding: 0.2rem 0;
}

#left h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

/* List of stuff about me styling */
#about-list {
    color: var(--subheader-color);
    font-size: 1.2rem;
    padding-left: 1rem;
}

#about-list p {
    padding: 0.4rem 0;
}

#services-list {
    color: var(--subheader-color);
    font-size: 1.2rem;
    padding-left: 1rem;
    margin-left: 0;
}

/* Devider vertical line */
#divider {
    width: 0.3rem;
    background: var(--text-color);
}

/* Projects */

/* Base code for section */
#projects-sec {
    background: var(--bg-color);
    align-items: center;
}

/* Project widget container */
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 10vh;
}

/* Project thumbnail img */
.project-img {
    max-width: 100%;
    margin: auto;
    display: block;
    border-radius: 0.5rem;
}

/* Project information */
.text-box {
    background-color: #0A0A0A;
    /* max-width: 80%; */
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: center;
    max-width: 40rem;
}

.text-box h2 {
    padding: 1rem;
}

.text-box p {
    padding-bottom: 0.5rem;
}

/* Skills list/buttons */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    justify-content: center;
}

.skills li {
    background: #150D0D;
    color: var(--text-color);
    padding: 0.8rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* Footer main formating */

footer {
    text-align: center;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #222222;
    color: var(--subheader-color);
    background: var(--bg-color);
}

footer a {
    color: var(--subheader-color);
}
    
