@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Base */
:root { 
    --bg-color: #0A0A0A;
    --subheader-color: #9A9A9A;
    --text-color: #FAFAFA;
    --nav-color: #0a0a0a71;
    --accent-color: #FF4D4D;
    --accent-hover: #361918;
    --font-heading: "Ubuntu", sans-serif;
    --font-body: "Quicksand", sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    color: var(--text-color);
    background: var(--bg-color);
}

/* Text styling */
h1, h2 {
  font-family: var(--font-heading);
  color: var(--text-color);
}

h2 {
  font-size: 1.5rem;
  color: var(--accent-color);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: var(--subheader-color);
    padding-bottom: 1rem;
}

/* Container holding content */
#container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

/* Button to take back home  */
.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    color: var(--text-color);
    border-radius: 0.5rem;
    background-color: var(--accent-color);
    text-decoration: none;
    font-weight: 550;
    font-size: 1rem;
}

img {
    max-width: 5%;
    max-height: auto;
}